{% extends "base.html" %}
{% load django_bootstrap5 %}

{% block title %}Login{% endblock %}

{% block content %}

<div class="row justify-content-center">
    <div class="col-md-5">


    <div class="card shadow-sm">
        <div class="card-body">

            <h4 class="text-center mb-4">Login</h4>

            <form method="post">
                {% csrf_token %}

                {% bootstrap_form form %}

                <div class="d-grid mt-3">
                    <button type="submit" class="btn btn-primary">
                        Login
                    </button>
                </div>
            </form>

            <p class="text-center mt-3 mb-0">
                Don't have an account?
                <a href="{% url 'users:Sign_up' %}">Sign up</a>
            </p>

        </div>
    </div>

</div>


</div>

{% endblock %}
