{% load static %}
{% load django_bootstrap5 %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    {% block title %}Booking System{% endblock %}

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- LOCAL BOOTSTRAP CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

    <!-- Optional: django-bootstrap5 helpers (for forms only) -->
    {% bootstrap_css %}
</head>

<body class="bg-light">

<!-- NAVBAR -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">

        <a class="navbar-brand" href="#">Booking App</a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#nav">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="nav">
            <ul class="navbar-nav ms-auto">

                

                {% if user.is_authenticated %}
                    <li class="nav-item d-flex align-items-center text-white me-3">
                        Hello, {{ user.username }}
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'home_page:home' %}">Book</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'bookings:my_bookings' %}">
                            My Bookings
                        </a>
                    </li>

                    <li>                   
                        <form action="{% url 'users:logout' %}" method="post" class="d-inline">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger px-3">
                                Logout
                            </button>
                        </form>
                     </li>


                {% else %}
                    <li class="nav-item">
                        <a class="nav-link btn btn-primary text-white px-3" href="{% url 'users:Sign_up' %}">
                            Sign up
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link btn btn-primary text-white px-3" href="{% url 'users:login' %}">
                            Login
                        </a>
                    </li>
                {% endif %}

            </ul>
        </div>

    </div>
</nav>

<!-- MAIN CONTENT -->
<div class="container mt-4">

    {% block content %}
    {% endblock %}

</div>

<!-- FOOTER -->
<footer class="text-center mt-5 mb-3 text-muted">
    <small>© 2026 Booking System</small>
</footer>

<!-- LOCAL BOOTSTRAP JS -->
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>

{% bootstrap_javascript %}

</body>
</html>